
h2{
    text-align: left;
    font-size: 40px;
}

body {
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}

.header {
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: paleturquoise;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    
}

.header div ul {
    list-style: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 30px;
    
}

p {
    font-size: 20px;
}

.photo {
     background-color: grey;
     display: inline-block;
     margin-left: 60px;
     justify-content: space-evenly;
     align-items: end;
     transform: rotate(2deg);
     
    }

img {

    border: 5px solid paleturquoise;
}

    


.content ul li {
    display:inline-block;
    margin-right: 25px;
    
}

.marketing {
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.carnival {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.content ul li {
    display:inline-block;
    margin-right: 25px;
    
}

