
h2{
    text-align: left;
}

body {
    background-color: grey;
}

.header {
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightslategray;
    color: black;
}

.header div ul {
    list-style: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 30px;
}