
h2{
    text-align: left;
}

body {
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.header {
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightslategray;
    color: black;
}

.header h1 {
    display: inline-block;
    font-size: 60px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

.header div ul {
    list-style: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 30px;
}